/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    border-radius: 50%;
}

/* COMMON */
body{
    background: linear-gradient(180deg, #009688 15%, #DADBD4 10%);
    height: 100vh;
}

.flex{
    display: flex;
}

.jc-c{
    justify-content: center;
}

.container{
    width: 80%;
    height: 900px;
    /* margin: 2rem auto; */
    /* border: 1px solid black; */
    padding-top: 2rem;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}
/* LEFT*/
.col-left{
    width: 40%;
    height: 100%;
    background-color: white;
}

.profile{
    align-items: center;
    background-color: #EAEAEA;
    padding: .5rem 1rem;
    height: 60px;
}

.my.profile{
    justify-content: space-between;
}

/* profile */
.my-avatar{
    align-items: center;
    width: 30%;
}

.my-avatar img{
    width: 20%;
}

.utilities i{
    margin-right: 1.4rem;
    background-color: #EAEAEA;
}

/* cta */
.cta{
    background-color: #8edafc;
    align-items: center;
    height: 70px;
}

.bell-slash{
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 5px 0;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.cta a{
    color: #446473;
}

/* search bar */
.search{
    padding: 10px 0;
    background-color: #FAFAFA;
    height: 60px;
}

.search-fontawesome{
    border: 1px solid gray;
    width: 15%;
    text-align: center;
    padding: 10px 0;
    background-color: white;
}

.search input{
    width: 80%;
}

/* contacts */
.contacts{
    overflow: scroll;
    height: calc(100% - 190px);
}
.contact{
    padding: 5px 5px 5px 10px;
    border-top: 1px solid lightgray;
}

.item{
    background-color: white;
    justify-content: space-between;
}

.contact-avatar{
    width: 60%;
}

.contact.item:hover{
    background-color: #EAEAEA;
}

.contact-img{
    width: 10%;
}

.contact-text{
    margin-left: 1rem;
}

.contact-text .name{
    font-size: 1.5rem;
}

.contact-text p{
    color: gray;
}
.last-access{
    margin-right: 1rem;
    color: gray;
}
/* RIGHT */
.col-right{
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
}

/* header */
.chat-header{
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    border-left: 1px solid grey;
}

/* chat */
.chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);
    overflow: scroll;
}

.chat-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow-y: scroll;
    flex-direction: column;
}

.message{
    position: relative;
    width: 25%;
    /* max-width: 500px; */
    border-radius: 5px;
    padding: 1.2rem 1rem;
    margin-bottom: 10px;
    
}

.user{
    align-self: flex-end;
    background-color: greenyellow;
}

.other.message{
    background-color: #FAFAFA;
}
.send-time{
    color: gray;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: .8rem;
}
/* chat input */
.chat-input{
    height: 60px;
    background-color: #EAEAEA;
    justify-content: space-around;
    align-items: center;
}

.chat-input input{
    width: 70%;
    padding: 5px 20px;
}