<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- link fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- link vue -->
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>

</head>
<body>
    <div id="app" class="flex jc-c">
        <div class="container flex">

            <!-- left-side -->
            <div class="col-left">
                <!-- profile -->
                <div class="my profile flex">
                    <div class="my-avatar flex">
                        <img src="img/avatar_io.jpg" alt="">
                        <div>Sofia</div>
                    </div>
                    <div class="utilities">
                        <i class="fa-solid fa-circle-notch" style="color: #b1b1b1;"></i>
                        <i class="fa-solid fa-message" style="color: #b1b1b1;"></i>
                        <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;" ></i>
                    </div> 
                </div>
                <!-- /profile -->

                <!-- cta -->
                <div class="cta flex">
                    <div class="bell-slash"><i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i></div>
                    <div class="text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /cta -->
                
                <!-- search-bar -->
                <div class="search flex jc-c">
                    <div class="search-fontawesome">
                        <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                    </div>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="contactSearch" @keyup="search()">
                </div>
                <!-- /search-bar -->

                <!-- avatars -->
                <div class="contacts">
                    <div class="contact item flex" v-for="contact in contacts" @click="chatOpen(contact)" v-show="contact.visible" :class="{active: contact === currentContact}">
                        <div class="contact-avatar flex">
                            <div class="contact-img">
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                            </div>
                            <div class="contact-text">
                                <div class="name">{{contact.name}}</div>
                                <p> {{contact.messages[contact.messages.length-1].message}} </p>
                            </div>
                        </div>
                        <div class="last-access">
                            12:00
                        </div>
                    </div>
                </div>
                <!-- /avatars -->
            </div>
            <!-- /left-side -->

            <!-- right-side -->
            <div class="col-right">
                <!-- chat header -->
                <div class="chat-header flex">
                    <div class="contact profile flex">
                        <div class="contact-img">
                            <img :src="'img/avatar' + currentContact.avatar + '.jpg'"  alt="">
                        </div>
                        <div class="contact-text">
                            <div class="name">{{currentContact.name}}</div>
                            <p>L'ultimo accesso è oggi alle 12
                            </p>
                        </div>
                    </div>
                    <div class="utilities">
                        <i class="fa-solid fa-magnifying-glass" style="color: #b1b1b1;"></i>
                        <i class="fa-solid fa-paperclip" style="color: #b1b1b1"></i>
                        <i class="fa-solid fa-ellipsis-vertical" style="color: #b1b1b1;" ></i>
                    </div> 
                </div>
                <!-- /chat header -->

                <!-- chat -->
                <div class="chat">
                    <div class="chat-container flex">
                        <span class="message" v-for="message in currentContact.messages" :class="message.status === 'sent'? 'user':'other'">
                            <div class="text"> {{message.message}} </div>
                            <div class="send-time"> 12:00</div>
                        </span>
                    </div>
                </div>
                <!-- /chat -->

                <!-- chat input -->
                <div class="chat-input flex">
                    <i class="fa-regular fa-face-smile" style="color: #b1b1b1b1"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="inputMessage" @keyup.enter="messageToSend(currentContact)">
                    <i class="fa-solid fa-microphone" style="color: #b1b1b1"></i>
                </div>
                <!-- /chat input -->
            </div>
        </div>
    </div>
    
    <!-- custom script -->
    <script src="js/script.js"></script>
</body>
</html>